<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <% if (errors) { %>
      <ul class="notice">
     <% errors.array().forEach(error => { %>
       <li><%= error.msg %></li>
    <%  }) %>
     </ul>
  <% } %>

    <% if (notice) { %>
        <div class="alert alert-warning">
          <%= notice %>
        </div>
    <% } %>
      

    <div class="account-container">
        <h2>Welcome <%= first_name_user %></h2>
        <p>Here you can manage your account information and view your order history.</p>

        <h3>Update Account Information</h3>
        <p><a href="/account/update">Update Account Information</a></p>
        <% if (account_type === 'Admin' || account_type === 'Employee') { %>
          <h3>Inventory Management</h3>
          <p><a href="/inv">Manage Inventory</a></p>
        <% } %>
        <% if (account_type === 'Admin') { %>
          <h3>User List</h3>
          <p><a href="/account/list">Manage Users</a></p>
        <% } %>
    </div>


