/* Estilos base para dispositivos móviles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

main h1 {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  gap: 10px;
  padding: 10px;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}


/* Navigation #########################################################################################*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4c4c4c;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 10px 0;
  justify-content: space-around;
  width: 100%;
}

nav ul li {
  padding: 5px 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
}



.account {
  text-align: center;
  margin-top: 10px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}

.hero-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.hero-text {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  margin-bottom: 10px;
  z-index: 1;
  max-width: 200px;
  position: absolute;
  margin-top: 2rem;
}

.hero-text h2 {
  color: #3cc4dc;
  margin-bottom: 5px;
}

.cta-button {
  display: inline-block;
  background-color: #3cc4dc;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.delorean-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
}

.delorean-info-title{
  font-size: 1.2em;
  margin-bottom: 10px;
}
.reviews-info-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  grid-row: 1/2;
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.upgrade-item {
  background-color: #3cc4dc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.upgrade-item img {
  max-width: 80px;
  height: auto;
}

.upgrade-item p {
  margin-top: 5px;
  color: #0056b3;
  font-weight: bold;
}

.reviews{
  grid-row: 2/3;
}

.reviews ul {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.reviews li {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}



/* Inventory Display #########################################################################################*/
#inv-display {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

#inv-display li {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inv-display li img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

#inv-display .namePrice {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

#inv-display .namePrice hr {
  width: 100%;
  margin: 10px 0;
}

#inv-display .namePrice h2 {
  margin: 0;
  height: auto;
  overflow: visible;
  font-size: 1.2em;
}

#inv-display .namePrice span {
  display: block;
  margin-top: 10px;
}

/* vehicle Detail #########################################################################################*/
.vehicle-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.vehicle-detail img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.vehicle-detail .description {
  order: 2;
  text-align: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
  line-height: 1.6;
  color: #333;
  text-align: center;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.vehicle-detail .details {
  order: 3;
  text-align: center;
  padding: 10px;
  background-color: #e6f7ff;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.vehicle-detail h2 {
  order: 1;
  text-align: center;
}

.notice {
  color: #e05858;
  font-size: 20px;
  margin: 10px;
  list-style-type: disclosure-closed;
}

/* Responsive Design ########################################################################################################################################################################*/
/* Estilos para resoluciones grandes */
@media screen and (min-width: 768px) {
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-image: url('/images/site/checkerboard.jpg'); 
    background-size: contain; 
    background-repeat: repeat; 
  }

  .wrapper {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 5px solid #3cc4dc; 
    border-radius: 10px; 
  }

  /* Header Styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333; 
    color: white; 
  }

  

  /* Navigation Styles */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4c4c4c;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 10px 0;
    justify-content: space-around;
    width: 100%;
  }
  
  nav ul li {
    padding: 5px 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
  }



  .account {
    font-size: 16px;
    color: white;
  }

  /* Main Section */
  main {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px; 
  }

  /* Hero Section */
  .hero {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }

  .hero-title {
    grid-column: 1/3;
  }

  .hero-text {
    grid-row: 2/3;
    grid-column: 2/4;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    margin-left: 3.5rem;
    width: 15rem;
    text-align: center;
    position: relative;
  }

  .hero-text h2 {
    font-size: 1.5em; 
    color: #3cc4dc; 
    margin-bottom: 5px;
  }

  .hero-text p {
    font-size: 1em; 
    color: black;
    margin-bottom: 20px;
  }

  .cta-button {
    padding: 10px 20px;
    background-color: #3cc4dc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .cta-button:hover {
    background-color: #0f7486;
  }

  .hero-image {
    grid-row: 2/3;
    grid-column: 3/6;
  }

  .hero-image img {
    max-width: 700px;
    height: auto;
  }

  /* Delorean Info Section */
  .delorean-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .upgrades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    grid-column: 1/2;
  }

  .delorean-info-title {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .upgrade-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #3cc4dc; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

  .upgrade-item img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }

  .upgrade-item p {
    font-size: 1.1em;
    font-weight: bold;
    color: #0056b3;
    text-align: center;
    margin: 0;
  }

  .reviews-info-title {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .reviews {
    padding: 20px;
    grid-column: 2/3;
  }

  .reviews li {
    margin-bottom: 2rem;
  }

  /* Footer */
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
  }


  /* Inventory Display #########################################################################################*/
  #inv-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  #inv-display li {
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  #inv-display li img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  #inv-display .namePrice {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  #inv-display .namePrice hr {
    width: 100%;
    margin: 10px 0;
  }

  #inv-display .namePrice h2 {
    margin: 0;
    height: 2.4em;
    overflow: hidden;
    font-size: 1.2em;
  }

  #inv-display .namePrice span {
    display: block;
    margin-top: auto;
  }

  /* vehicle Detail #########################################################################################*/
  .vehicle-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }

  .vehicle-detail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .vehicle-detail .description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    text-align: center;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .vehicle-detail .details {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 15px;
    background-color: #e6f7ff;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    color: #333;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .vehicle-detail .details p {
    margin: 10px 0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }

  .vehicle-detail .details strong {
    color: #0056b3;
    font-weight: bold;
  }

  .vehicle-detail h2 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
  }



  }

  





